<p>Lista de productos</p>

<ul>

    @for(i of productos; track i.nombre; let index = $index){
            <li>{{i.nombre}}</li>
            @if(i.oculto){
                <div [class]="atributoClass">
                    <p>---Detalles del producto---</p>
                    <p>Precio: {{i.precio}}</p>
                    <p>Descripcion: {{i.descripcion}}</p>
                    <img [src] = "i.imagen">
                    <button (click)="clickCerrarDetalle(index)">x</button>
                </div>
            }
            <button (click)="clickVerDetalle(index)">Ver detalles</button>
        
        
    }
</ul>

